---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Home",
    path:"/",
  },
  {
    title: "Competitions",
    path: "/competitions",
  },
  {
    title: "Resources",
    path: "/resources",
  },
  {
    title: "Partners",
    path: "/partners",
  },
  {
    title: "Team",
    path: "/team",
  },
];
---

<Container class="navstyle unscrolled">
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <img src="/favicon.png" style="display: inline; height: 50px; margin-right: 10px; border-radius: 5px;" alt="Mitosisphere"></img>
          <span class="font-extrabold text-slate-800">Mitosisphere</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="navlist flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      id={item.path}
                      class="navitem flex lg:px-3 py-2 items-center font-semibold text-gray-800 hover:text-[#ff6200] transition-all duration-300 ease-in-out"
                      >
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px]">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
      <script>
        let navitems = document.getElementsByClassName("navitem");
        let path = window.location.pathname;
        for (let navitem of navitems) {
          if (path.replaceAll("/", "") === navitem.id.replaceAll("/", "")) {
            navitem.classList.remove("text-gray-800");
            navitem.classList.remove("transition-all");
            navitem.classList.remove("duration-300");
            navitem.classList.remove("ease-in-out");
            navitem.classList.add("text-[#ff6200]");
          }
        }
      </script>
    </Astronav>
  </header>
</Container>
